* {
  font-family: "inter", sans-serif;
}

.bg-light {
  background-color: #F5F7FA !important;
}

.mouse-cursor {
  cursor: pointer;
}

.padding-style {
  padding-left: 144px;
  padding-right: 144px;
  background-color: #E0E0E0;
}

.top-section {
  background-color: #F5F7FA
}

.card-image {
  height: 286px;
  width: 368px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: -1;

}

.cardtext {
  bottom: 0px;
}

.org-logo {
  height: 24px;
  width: 35px;

}

.link {
  bottom: 13px;
  right: 0px;
  color: #4CAF4F;
}

.section-text {
  font-size: 64px;
  line-height: 76px;
  color: #263238;
}


.footer-text {
  background-color: #F5F7FA;
}


.nav-text {
  color: #18191F;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  font-family: "inter", sans-serif;
  gap: 50px;
}

.Company_name {
  color: #263238;
  margin-top: 8px !important;
  font-weight: 700 !important;
}

.navbar-list {
  font-size: 16px;
  line-height: 24px;
  color: #18191F;

}

.slider-area {
  padding-top: 96px;
  background-color: #F5F7FA;

}

.card-section {
  padding-left: 144px;
  padding-right: 144px;
}

.card-custom {
  border: none;
}

.slider-text {
  line-height: 76px;
  font-size: 64px;
  font-weight: 600;
  gap: 32px;
  color: #4D4D4D;

}

.text-cont {
  width: 657px;
  height: 276px;
  padding: 0px;
}

.highlight-text {
  color: #4CAF4F;
}

p {
  color: #717171;
  line-height: 20px;
  font-size: 14px;
}

.slider-image {
  width: 391px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-direction: column;
}

.slider-background-color {
  background-color: #FFFFFF;
}

.button-desgin {
  background-color: #4CAF4F;
  width: 128px;
  height: 52px;
  border: none;
  border-radius: 4px !important;
}

.button-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.contents {
  line-height: 20px;
  font-size: 14px;
}

.image-container {
  padding-left: 144px;
  padding-right: 144px;
}

.heading {
  line-height: 44px;
  font-size: 32px;
  font-weight: 600;
  color: #4D4D4D;
}

.heading-text {
  line-height: 24px;
  color: #717171;
}

.cards {
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 299px;
  border: none;
  background-color: #FFFFFF;

}

.password-img-style {
  width: 442px;
}

.unlock,.community {
  padding-left: 144px;
  padding-right: 144px;
  align-items: center;
  justify-content: center;
}

.review-section {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #F5F7FA;
}

.review-text {
  color: #4D4D4D;
  font-size: 36px;
  line-height: 44px;

}

.review-p {
  color: #18191F;
  font-size: 16px;
  line-height: 24px;
}

.Clients {
  padding-left: 144px;
  padding-right: 144px;
}

.nav-btn.signup {
  background-color: #4CAF4F !important;
}





.Authors {
  font-size: 20px;
  line-height: 28px;
  color: #4CAF4F;

}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content-box {
  position: relative;
  top: -40px;
  /* overlap */
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.read-more {
  color: #28a745;
  text-decoration: none;
  font-weight: 500;
}

.read-more:hover {
  text-decoration: underline;
}

.footer-text {
  font-size: 64px;
  line-height: 76px;
  color: #263238;
}

.foo-btn {
  width: 178px;
  padding: 20px 5px 20px 5px;

}

.footer {
  background-color: #263238;
  padding: 64px 144px 65px 144px;
}

.footer-company-name {
  color: #FFFFFF;
}

.footer-section-text {
  line-height: 20px;
  font-size: 14px;
  color: #F5F7FA;
}

.footer-heading {
  color: #FFFFFF;
  line-height: 28px;
  font-size: 20px;
}

.footer-heading-subtext {
  line-height: 20px;
  font-size: 14px;
  color: #F5F7FA;
}

.email-section {
  background-color: #ffffff45;
  width: 255px;
  height: 40px;
  padding-right: 40px;
  padding-left: 10px;
  border: none;
  border-radius: 6px;
  color: #D9DBE1
}

.email-section::placeholder {
  color: #D9DBE1 !important;
}

.send {
  bottom: 0px;
  left: 220px;
  cursor: pointer;
  transform: translateY(-50%);
}

.button {
  background-color: #4caf4f;
  border: 1px;

}

.button:hover {
  background-color: #4caf4f;
  border: 1px;
}

.nav-btn {
  padding: 6px 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-btn.login {
  color: #198754;
  background-color: transparent;
}

.nav-btn.login:hover {
  background-color: #d1e7dd;
  border-color: #198754;
  text-decoration: none;
}

.nav-btn.signup {
  color: white;
  background-color: #198754;
}

.nav-btn.signup:hover {
  background-color: #157347;
  border-color: #145c39;
  text-decoration: none;
}