.custom-cursor {
    cursor: pointer;
}

.width-place {
    position: absolute;
    left: 120px;
    height: 40px;
    width: 40px;
    background-color: #cccccc94;
    top: 170px;
}

.size {
    height: 28px;
    width: 28px;
    background-color: #1970f159;background-color: #1970f159;

}

h6 {
    margin-bottom: 0;
}

.plain-size {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    bottom: -24px;
    background-color: #e9ecefc2;
    object-fit: cover;
}

.i-icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    background-color: #f3efef !important;
}

.image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.08) !important;
    padding-top: 38px;
}

.content {
    padding-left: 9px;
}
.row>div:last-child .bg-light{
  margin: 0px;
}

/* .img{
    width: 18rem
} */